<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>
         <run>
            <include name="UAP" />
         </run>
      </groups>
    <classes>
      <class name="Sep_Practice_TestNG.TestStructure"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
